<main *ngIf="pieChartData$ | async as pieChartData;else notFound">
  <h1>Medals per Country</h1>

  <div class="tag-box">
    <app-tag
      label="number Of JOs"
      [value]="numberOfJOs$ | async"
      />
    <app-tag
      label="Number of countries"
      [value]="numberOfCountries$ | async"
      />
  </div>

  <ngx-charts-pie-chart
    [view]="(viewPort$ | async) || [1,1]"
    [results]="pieChartData"
    [labels]="config.labels"
    [scheme]="config.scheme"
    [tooltipText]="formatTooltip"
    (select)="onClickCountry($event)"
    />
</main>

<ng-template #notFound>
  <main>
    <h1>Une erreur est survenue</h1>
    <p>Veuillez essayer à nouveau dans un instant.</p>
    <button>Rafraichir</button>
  </main>
</ng-template>
