<main>
  <h1>Medals per Country</h1>

  <div class="tag-box">
    <div class="tag">
      Number of JOs
      <div class="value">
        {{ (olympics$ | async)?.length }}
      </div>
    </div>
    <div class="tag">
      Number of countries
      <div class="value">
        {{ numberOfJOs$ | async}}
      </div>
    </div>
  </div>

  <ngx-charts-pie-chart
    [view]="(viewPort$ | async) || [1,1]"
    [results]="pieChartData$ | async"
    [labels]="config.labels"
    [scheme]="config.scheme"
    [tooltipText]="formatTooltip"
    (select)="onClickCountry($event)"
    />

  <!-- [view]="config.view" -->
</main>
