
.tag-box {

  display: flex;
  justify-content: space-around;
  text-align: center;

  .tag {
    border: var(--accent-color) solid 2px;
    border-radius: 7px;
    padding: 10px 20px;
    margin: 0 20px;
    font-weight: 300;
    font-size: 1.2em;

    .value {
      font-weight: 700;
    }
  }
}

